<header class="app-header">
  <h1 class="header-title">
    <%= link_to image_tag("kaimonolog.png", alt: "Kaimonolog", class: "header-logo"), root_path %>
  </h1>
  <%# ユーザーウェルカムエリア %>
  <div class="welcome-container">
    <p class="welcome-text">
      <p class="greeting">こんにちは</p>
      <span class="user-name"><%= current_user.nickname %></span>さん！
    </p>
  </div>

</header>